footer.content-info {
  background: $gray;
  padding: 20px 0;
}

#copyright {
	color: $gray-lighter;
	margin-top: 30px;
	a {
		color: #fff;
	}
}

.footer-logo {
	float: right;
	display: inline-block;
}