.post-tile {
	margin-bottom: 30px;
	article {
		background-image: url(../images/placeholder.jpg);
		background-size: cover;
		background-position: center;
		height: 240px;
		overflow: hidden;
		cursor: pointer;
		position: relative;
	}
	.category-list {
		position: absolute;
		top: 5px;
		right: 5px;
	}
	.cat-label {
		margin-bottom: 3px;
		text-align: right;
	}
	.label {
	  text-transform: uppercase;
	  padding: 3px 15px 2px;
	  font-weight: 300;
	  border-radius: 0;
	  color: #fff;
	  &:hover {
	  	text-decoration: underline;
	  }
	}
	.caption, header, .entry-summary {
		position: absolute;
		bottom: 0;
	}
	.caption {
		width: 100%;
		height: 100%;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	}
	header, .entry-summary {
		width: 100%;
		padding: 10px;
		transition:All .5s ease;
		-webkit-transition:All .5s ease;
		-moz-transition:All .5s ease;
		-o-transition:All .5s ease;
	}
	h2 {
		color: #fff;
		font-weight: 600;
		font-size: 12pt;
		line-height: 1.2;
		margin: 0;
	}
	time {
		color: #fff;
		font-size: 9pt;
	}
	.entry-summary {
		opacity: 0;
		color: #fff;
		margin: 0;
		font-size: 11pt;
	}
	&:hover {
		.entry-summary {
			opacity: 1;
		}
		header {
			opacity: 0;
		}
	}
}

.post-list {
	max-width: 800px;
	margin: 0 auto 35px auto;
	h2 {
		margin: 0;
		font-size: 16pt;
	}
	time {
		font-size: 9pt;
		font-weight: 600;
		color: $gray-dark;
	}
}

.clearfix + .post-list {
	margin-top: 70px;
}

#pagination {
	text-align: center;
	text-transform: uppercase;
	font-size: 10pt;
	font-weight: 600;
	ul {
		@extend .pagination;
	}
	ul>li>a {
		margin-left: 5px;
		margin-right: 5px;
		border: none;
		background: $brand-primary;
		color: #fff;
		&.next {
			margin-left: 25px;
			margin-right: 0;
		}
		&.prev {
			margin-left: 0;
			margin-right: 25px;
		}
	}
	.current {
		background: $brand-success;
		color: #fff;
		border: none;
		margin-left: 5px;
		margin-right: 5px;
	}
	.dots {
		background: none;
		color: $gray-dark;
		border: none;
	}
}

#cat-description {
  padding-top: .5em;
  padding-bottom: 3em;
}

.single-post {
	header {
		text-align: center;
		h1 {
			font-weight: 600;
			font-size: 36pt;
			margin-top: 30px;
		}
		h2 {
			font-style: italic;
		}
	}
	.entry-meta {
	  text-transform: uppercase;
	  font-weight: 600;
	  font-size: 11pt;
	  text-align: center;
	  color: $gray-light;
	  margin: 20px 0;
	  display: inline-block;
	  .meta-text {
	  	float: left;
	  	margin: 10px 10px 0 0;
	  }
	  .headshot {
	  	height: 35px;
	  	width: 35px;
	  	overflow: hidden;
	  	border-radius: 50px;
	  	display: inline-block;
	  	float: right;
	  }
	}
	.entry-content {
		max-width: 750px;
		margin: 0 auto;
		img {
		  max-width: 100%;
		  height: auto;
		  margin: 30px auto;
		  display: block;
		  float: none;
		}
		p {
		  margin: 20px 0;
		}
		blockquote {
		  padding: 0;
		  margin: 20px auto;
		  border: none;
		  max-width: 80%;
		  font-weight: 600;
		  font-style: italic;
		}
		h2, h3, h4, h5, h6 {
			font-weight: 600;
			font-size: 21pt;
		}
		img.alignright {
		  float: right;
		  margin: 10px 0 10px 10px;
		}
		img.alignleft {
		  float: left;
		  margin: 10px 10px 10px 0;
		}
		img.aligncenter {
		  display: block;
		  margin: 10px auto;
		}
		.entry-content-asset {
			height: 0;
			position: relative;
			padding-bottom: 56.25%;
			margin: 20px 0;
			iframe {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
	}
}

#social-share {
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	color: $gray-light;
	font-size: 11pt;
	#social-buttons {
		margin: 10px 0;
	}
	.social-button {
		width: 40px;
		height: 40px;
		border-radius: 50px;
		margin: 0 6px;
		display: inline-block;
		&.twitter {
			background: #5ea9dd;
		}
		&.linkedin {
			background: #0177b5;
		}
		&.email {
			background: $gray-dark;
		}
		&.facebook {
			background: #3b5998;
		}
	}
	i {
		padding: 7px 0;
		color: #fff;
		font-size: 18pt;
		&.fa-envelope {
			font-size: 15pt;
			padding: 10px 0;
		}
	}
}

#tags {
	@extend #social-share;
	margin: 40px 0;
	text-align: left;
	a {
		font-weight: 300;
		text-transform: none;
		color: $gray-dark;
		background: $gray-lightest;
		display: inline-block;
		padding: 2px 10px;
		margin: 10px 10px 0 0;
	}
}

.headshot img {
	  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.8);
}

#author-meta {
	background-color: $gray-lightest;
	padding: 40px;
	.media-left {
		padding-right: 20px;
	}
	img {
		height: 125px;
		width: 125px;
	}
	.author-head {
		@extend #social-share;
		text-align:left;
		display: block;
	}
	.author-twitter {
		display: block;
	}
	.media-heading {
		font-size: 28pt;
	}
}

.author #author-meta {
	background: none;
	padding: 0 0 30px 0;
	border-bottom: 1px solid $gray-lighter;
	.media {
		text-align: center;
	}
	.media-left {
		display: block;
		margin: 0 auto;
		padding: 0;
	}
	.media-heading {
		margin: 10px 0 0;
		font-weight: 600;
		color: $gray-dark;
		.author-head {
			display: inline;
			font-size: 28pt;
			text-align: center;
			color: $gray-dark;
			text-transform: none;
		}
	}
	.media-body {
		line-height: 1.5;
	}
}

.category #category-meta {
  background-color: $gray-lightest;
  margin-bottom:2em;
  padding: 40px;
  .media-left {
    padding-right: 40px;
  }
  img.img-circle {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid $gray-lighter;
  }
}

#comments {
	margin-top: 50px;
	h3 {
		margin: 0;
	}
	.logged-in-as {
		font-size: 10pt;
		margin: 5px 0;
	}
	.comment-list {
		margin: 40px 0;
	}
	.comment {
		margin: 20px auto;
	}
	.depth-2 {
		margin-left: 60px;
	}
	.vcard img {
		border: 1px solid $gray-lighter;
	}
}

.prev-next {
	position: fixed;
	top: 280px;
	height: 95px;
	width: 100px;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
	&:hover {
		width: 420px;
		.arrow {
			background: $brand-primary;
			color: #fff;
		}
	}
	.arrow {
		background-color: transparentize($gray-lighter, .5);
		height: 100%;
		padding: 20px 31px;
		font-size: 32pt;
		color: $gray-light;
		float: left;
		width: 100px;
		-webkit-transition:all .3s ease;
		-moz-transition:all .3s ease;
		-o-transition:all .3s ease;
		transition:all .3s ease;
	}
	.media {
		max-width: 320px;
		height: 100%;
		-webkit-box-shadow: inset 0px 0px 1px 0px $gray;
		-moz-box-shadow:    inset 0px 0px 1px 0px $gray;
		box-shadow:         inset 0px 0px 1px 0px $gray;
		margin: 0;
		padding: 10px;
		font-size: 10pt;
		line-height: 1.2;
		background-color: #FFF;
		a {
			color: $gray;
		}
	}
	.media-heading {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 9pt;
	}
}

#previous-post {
  left: 0; 
}

#next-post {
  right: 0; 
  .arrow {
  	float: right;
  }
}
